@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #F5F5F5;
  font-size: 16px;
  line-height: 1.5;
}

.hero-bg{
  background-image:url("assets/hero-bg1.jpg");
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* glass effect */
.glass {
  /* From https://css.glass */
  background: rgba(139, 130, 130, 0.32);
  border-radius: 0px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
  /* border: 1px solid hsl(51, 100%, 50%); */
}


.request-bg1{
  position: relative; /* Required for positioning the pseudo-element */
  width: 100%;
  height: 100%; /* Adjust height as needed */
  background-color: #F5F5F5; /* Fallback background color */
  overflow: hidden;
  isolation: isolate;
}

.request-bg1::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4; /* Set the opacity level here (0.0 - 1.0) */
  z-index: -1; 
  background-image: url("assets/reuestPrayer-bg1.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.request-bg2{
  position: relative; /* Required for positioning the pseudo-element */
  width: 100%;
  height: 100%; /* Adjust height as needed */
  background-color: #F5F5F5; /* Fallback background color */
  overflow: hidden;
  isolation: isolate;
}

.request-bg2::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.9; /* Set the opacity level here (0.0 - 1.0) */
  z-index: -1; 
  background-image: url("assets/link-bg.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.about-hero-bg{
  background-image:url("assets/crossHeroBg.jpg");
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.upcomingEvents-hero-bg{
  background-image: url("assets/consertPrayer1.jpg");
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.media-hero-bg{
  background-image: url("assets/media-bg.jpg");
  width: 100%;
  height: 65vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



/* Container for the background image */
.tp-bg {
  position: relative; /* Required for positioning the pseudo-element */
  width: 100%;
  height: 100%; /* Adjust height as needed */
  background-color: #F5F5F5; /* Fallback background color */
  overflow: hidden;
  isolation: isolate;
}

/* Apply the background image with opacity using ::before pseudo-element */
.tp-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("assets/dreads.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.2; /* Set the opacity level here (0.0 - 1.0) */
  z-index: -1; /* Make sure the content remains on top of the background */
}

/* Text or content inside the container */
.tp-bg .box-div {
  color: #333;
  text-align: center;
  padding-top: 150px;
}

@media screen and (max-width: 600px) {
  .media-hero-bg{
    background-image: url("assets/media-bg.jpg");
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
}

/* swiper controls */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 500px;
  background-color: transparent;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  width: 40px !important;
  height: 3px !important;
  border-radius: 0px !important;
  background: rgb(35, 34, 34) !important;
}

.swiper-button-next {
  /* Styling for the next button */
  right: 170px !important;
}

.swiper-button-prev {
  /* Styling for the previous button */
  left: 170px !important;
}

.swiper-button-next,
.swiper-button-prev {
  /* Styling for navigation buttons */
  color: white !important;
  height: 20px !important;
  width: 20px !important;
}

.swiper-button-next:after {
  /* icon inside next button */
  content: url(); /*link to asset */
  font-size: 30px !important;
}

.swiper-button-prev:after {
  /* icon inside next button */
  content: url(); /*link to asset */
  font-size: 30px !important;
}

@media only screen and (max-width: 720px) {
  .swiper-button-next {
    /* Styling for the next button */
    right: 2px !important;
  }
  
  .swiper-button-prev {
    /* Styling for the previous button */
    left: 2px !important;
  }
}
